.list {
    list-style: none;
    display: flex;
    color: whitesmoke;
    gap: 30px;
    margin-top: 16px;

}

p {
    margin: 20px;
    font-size: large;

}

nav {
    background: black;
}

.header-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.logo {

    padding: 5px;
    width: 50px;
    height: 50px;


}

.lo {

    display: flex;
    margin: 10px;

}

.mars {
    margin: 10px;
}

.mar {
    margin: 20px;
}

.pad {
    padding: 10px;
}

.pi {
    margin: 1px;
}

span {

    text-decoration: dotted;

}

#dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: lightpink;
}

.bottom {
    background-color: black;

}

li {
    text-decoration: none;
    list-style: none;
    padding-left: 5px;
}

ul {
    padding-left: 5px;
}

.form {
    margin: 40px;
}

.s2 {
    background-color: lightgray;

}

.s3 {
    padding: 20px;
    background-color: black;
}

.xyz {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    background-color: aliceblue;
    padding: 20px;
    height: 96%;
    width: 100%;
}

.img-fluid {
    width: 100%;
}

.oc {

    background: url(../assets/wash.jpg);
    position: relative;
    background-size: cover;
}

.hts {
    margin-bottom: 350px;
}

.hts h5 {
    font-size: 50px;
    ;
}

.links {
    margin: 10px;
    padding: 20px;
    background: rgb(212, 205, 205);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.six {
    background: #a4cea6;
    padding: 80px 0px;
    position: relative;
    z-index: 10;

}

.six:before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100px;
    background: yellow;
}

.six::after {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100px;
    background: black;
}

.six h4 {
    position: absolute;
}

.hello-after {
    z-index: 111;
    color: #fff;
}


.s6 {
    background: green;
    padding: 80px 0px;
}

/* media queart */

@media only screen and (max-width: 768) {
    
}